.nytt
{
    margin-bottom: 2rem;
}

.bilde
{
    color: #3f5158;
    border: 1px solid black;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: 1s;
}

.bilde:hover
{
    background-color: #c7dde6;
}

#fil
{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

img
{
    max-width: 400px;
    max-height: 200px;
}

.post
{
    border: 1px solid black;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.postLink
{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 30%;
}

.postLink:hover
{
    background-color: #f0f0f0;
}

.top
{
    display: flex;
    justify-content: space-between;
}