<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/Css/brett.css">
    <title>{{.Brettet}}</title>
</head>
<body>
    <h1> <a href="/"> Boards </a> </h1>

    <h1> {{.Brettet}} </h1>
    <p> {{.Beskrivelse}} </p>

    <form class="nytt" action="/post" method="post">
        <input type="text" placeholder="Tittel" name="tittel"> <br>
        <textarea name="tekst" placeholder="Tekst"></textarea>
        <input type="submit" value="Send">
    </form>

    {{range .Posts}}
        <a class="postLink" href="/post/{{.Id}}">
            <div class="post">
                <div class="top">
                    <p> {{.Skaper}} </p>

                    <p> {{.Skapt}} </p>
                </div>

                <h4> {{.Tittel}} </h4>
            </div>
        </a>
    {{end}}
</body>
</html>