<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Brettet}}</title>
</head>
<body>
    <h1> {{.Brettet}} </h1>
    <p> {{.Beskrivelse}} </p>

    <form action="/post" method="post">
        <input type="text" placeholder="Tittel" name="tittel"> <br>
        <textarea name="tekst" placeholder="Tekst"></textarea>
        <input type="submit" value="Send">
    </form>

    {{range .Posts}}
        <h4> {{.Tittel}} </h4>

        <p> {{.Tekst}} </p>
    {{end}}
</body>
</html>