<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/Css/index.css">
    <title> Forum </title>
</head>
<body>
    <h1> <a href="/"> Forum </a> </h1>

    {{if .Navn}}
        {{.Navn}}

        <form action="/loggut" method="post">
            <input class="csrf_token" type="hidden" name="csrf_token">
            <input type="submit" value="Loggut">
        </form>
    {{else}}
        <details {{if index .Error 0}} open {{end}}>
            <summary> Registrer </summary>

            <form action="/registrer" method="post">
                <input type="text" placeholder="Navn" name="navn">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Passord" name="passord">
                <input type="submit">
            </form>

            <p> {{index .Error 0}} </p>
        </details>

        <details {{if index .Error 1}} open {{end}}>
            <summary> Logginn </summary>

            <form action="/logginn" method="post">
                <input type="text" placeholder="Navn" name="navn">
                <input type="password" placeholder="Passord" name="passord">
                <input type="submit">
            </form>

            <p> {{index .Error 1}} </p>
        </details>

        <details {{if index .Error 2}} open {{end}}>
            <summary> Glemt passord </summary>

            <form action="/glemt" method="post">
                <input type="text" placeholder="email" name="email">
                <input type="submit">
            </form>

            <p> {{index .Error 2}} </p>
        </details>
    {{end}}

    <br><br>

    <h2> Brett </h2>

    <div class="brettene">
        {{range .Brett}}
            <div class="brett">
                <a href="/brett/{{.}}"> {{.}} </a>
            </div>
        {{end}}
    </div>
</body>

<script src="/Static/Scripts/csrf.js"></script>
</html>